body{padding: 5em;}

.jura-paragraph {
  text-align: center;
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
}
.orbitron-title {
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: white;

}

.BG {
  position: absolute; 
  top: 0; left: 0; 
  width: 100%; 
  height: 100%; 
  object-fit: cover;
}

p.Credits   {   font-size: .66em;
                text-align: center;
                margin: 0 auto;
                color: white;
            }

/*The next rule centers and spaces the media*/
img, video, audio, canvas, p{
    display: block; 
    margin: 0 auto;
    padding-bottom: 2em}
.credits{font-size: 0.5em;
    color: rgb(200,200,200);}

html, body {
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      canvas {
        
        display: block;
        orbitron-regular {
        font-family: "Orbitron", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
      }
      }
